.form-container{
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

.form-container input{
    width:70%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid #1f3d70;
}

.form-container input::placeholder{
    color: #252323;
}